.main {
  background: url(/desktop-bg.png) no-repeat center;
  background-size: cover;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mantine-breakpoint-xs) {
    background: url(/mobile-bg.png) no-repeat center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
