@import "./mixins";

.avatar {
  padding: 0.5rem;
  width: 100% !important;
  height: 100% !important;

  & > img {
    border-radius: 0;
  }

  @include respond(tab_port) {
    width: 15rem !important;
    height: 15rem !important;

    & > img {
      border-radius: 50%;
    }
  }

  &Container {
    border: 1px solid #e0e0e0;
    width: max-content;
    border-radius: 5px !important;

    @include respond(tab_port) {
      border-radius: 50% !important;
      margin: 0 auto;
    }
  }
}
