@import "./mixins";

.footer {
  background-color: #212121;
  border-left: 1px solid #757575;
  color: #bdbdbd;
}

.layout {
  padding: 2rem 0 !important;
}

.grid {
  @include respond(tab_port) {
    flex-direction: column;
  }
}

.socialContainer {
  width: max-content !important;

  @include respond(tab_port) {
    margin-bottom: 1rem !important;
  }
}
