.container {
  padding: 5rem 0;
  height: 100vh;

  display: flex !important;
  align-items: center;
}

.img {
  width: 100%;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #546e7a;
}
