.appbar {
  background-color: #212121 !important;
  color: #bdbdbd !important;
}

.drawer {
  background-color: #212121 !important;
  color: #bdbdbd !important;

  display: flex;
  flex-direction: column;

  &Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
}

.name {
  color: #e0e0e0 !important;
}

.active {
  color: #42a5f5;
  transition: 0.2s;
}
